{% block jsoneditor %}
<div class="tab-pane pt-5" id="jsonEditor" role="tabpanel" aria-labelledby="json-tab">
  <h4>Advanced JSON Editor</h4>
  <div class="row">
    <div class="col-md-10 mx-auto">
      <div class="alert alert-info">
        Edit your configuration as raw JSON with validation. Invalid JSON will be highlighted and cannot be saved.
      </div>
      <form id="jsonConfigForm" method="post" action="/save_json_settings">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}">
        <textarea id="jsonConfig" name="jsonConfig" class="form-control code-editor" spellcheck="false" style="min-height: 60vh;">{{ settings | tojson(indent=2) }}</textarea>
        <small id="jsonError" class="form-text text-danger d-none"></small>
        <div class="d-flex justify-content-end mt-3">
          <button id="jsonSubmit" class="btn btn-secondary" type="submit" disabled>Save JSON</button>
        </div>
      </form>
    </div>
  </div>
</div>
{% endblock %}

